In [15]:
import numpy as np
import pandas as pd
from scipy.stats import chisquare,chi2_contingency

In [21]:
data=pd.read_csv("chi sq 2.csv")

In [22]:
data.head()

  size of company     work type
0            50-99  simultaneous
1            50-99  simultaneous
2            50-99  simultaneous
3            50-99  simultaneous
4            50-99  simultaneous

In [18]:
chisquare(data["size of company "].value_counts())

Power_divergenceResult(statistic=9.600000000000001, pvalue=0.022290983128701765)

In [24]:
chisquare(data["work type "].value_counts())

Power_divergenceResult(statistic=3.8533333333333335, pvalue=0.0496472296574563)

In [30]:
cont = pd.crosstab(data["size of company "],
                   data["work type "])

In [31]:
cont

work type         non-simultaneous  simultaneous
size of company
100-499                         49            44
1000-5000                       20            61
50-99                           38            19
500-999                         26            43

In [33]:
chi2_contingency(cont)

(28.050603843861204, 3.544283457507162e-06, 3, array([[41.23, 51.77],
        [35.91, 45.09],
        [25.27, 31.73],
        [30.59, 38.41]]))