In [1]:
import numpy as np
import pandas as pd
from scipy.stats import chisquare,chi2_contingency

In [2]:
data=pd.read_csv("chi sq 3.csv")

In [3]:
data.head()

     Opportunity Geography
0  Prod ser inno        US
1  Prod ser inno        US
2  Prod ser inno        US
3  Prod ser inno        US
4  Prod ser inno        US

In [4]:
chisquare(data["Opportunity"].value_counts())

Power_divergenceResult(statistic=168.1535181236674, pvalue=2.604584313012046e-35)

In [5]:
chisquare(data["Geography"].value_counts())

Power_divergenceResult(statistic=65.09808102345416, pvalue=4.77946757328392e-14)

In [6]:
cont = pd.crosstab(data["Opportunity"],
                   data["Geography"])

In [7]:
cont

Geography        China  Germany  Japan  US
Opportunity
Increased Share     30       15     31  60
Mergers             11        4     12  23
Newgeomarket        18        2     31  16
Newjoint            18        3      8   5
Prod ser inno       58       21     45  58

In [8]:
chi2_contingency(cont)

(37.43317726234448,
 0.00018999068915987697,
 12,
 array([[39.14712154, 13.04904051, 36.82729211, 46.97654584],
        [14.39232409,  4.79744136, 13.53944563, 17.27078891],
        [19.28571429,  6.42857143, 18.14285714, 23.14285714],
        [ 9.78678038,  3.26226013,  9.20682303, 11.74413646],
        [52.3880597 , 17.46268657, 49.28358209, 62.86567164]]))